.embla {
  max-width: 100%;
  margin: auto;
  --slide-height: auto;
  --slide-spacing: 10px;
  --slide-size: 75%;
}

@media (min-width: 1024px) {
  .embla {
    --slide-size: 28%;
  }
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  display: flex;
  justify-content: center;
}

.embla__slide__number {
  max-width: 280px;
  background-color: white;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  user-select: none;
}
